.jumbotron
{
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  height:30em;
  padding-top: 5em;
  text-align: center;
  color: white;
}

.row2
{
  text-align: center;

}


.alert-info
{
  padding: 1.5em;
  border-radius: 1em;

}

.panel-footer
{
  background-color:black;
  color:#ccc;
  margin-top: 5em;
}

.border
{
  border-style: none none none solid;
  border-width: 1px;
  border-color:gray;
  padding-left: 2em;
}

#name
{
  font-family: 'Satisfy', cursive;
  color:#F47F60;
  font-size: 30px;
}

.primary
{
  color:blue;
}
